


<footer  class="mt-4"><br>
   
   
                <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="container shadow-lg ">
                    <div class="row">
                      
                  
                    <div class="m-4"> 

                    <p> <a href="http://ceng.mu.edu.tr/labs/bioinfo/"> Copyright ©️ 2021 SuzekLab </a> <br/> The Adenovirus project is supported by The Scientific and Technological Research Council of Turkey (Grant number: bizim num) and Muğla Sıtkı Koçman University. </p>
                    

<!--   
                        <p class="float-right"><a href="#">Back to top</a></p>
                        <p>Tubitak Supported </p>
                        <p  <strong class="m-4" style="color: #665d1e"> &copy; 2021 Suzek Lab &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                    -->
                    </div>
                </div>
                 
                </div>

      </footer>