
      <div class="container shadow-lg mt-4">
          <div class="row">
               <div class="col-sm-12"> 
                 
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Virus</th>
                        <th scope="col">Common</th>
                        <th scope="col">Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Adenovirus</td>
                        <td>Ado</td>
                        <td>oFF</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Corona Virus</td>
                        <td>2020</td>
                        <td>felaket yıl</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Diğer Virus</td>
                        <td>Yeah</td>
                        <td>oppap</td>
                      </tr>
                    </tbody>
                  </table>
               </div>
              
          </div> 
      </div>
     

     <!---->


      <div class="row featurette">
        
 <div class="row featurette shadow-lg">
          <div class="col-md-4 ">
              
              <div class="card shadow-lg m-3 golden_border">
               <div class="card-header">
                 <a href="#" style="color: #665d1e"><i class="fa fa-table fa-3x" aria-hidden="true"></i></a>  
                 <strong class=" m-4">  Virus Reseptor Table</strong>
                </div>
             
              <div class="card-body">
                      
                    <p class="lead">Virus Reseptor Table</p>
                    <p class="">
                    <strong>Detail :</strong><br> Interaction between virus and host <br>
                        <strong>Property :</strong> <br> Dynamik and Downloanable Table <br>
                         <strong>Web     :</strong><br> <a href="http://akademik.mu.edu.tr" 
                          target="_blank">http://akademik.mu.edu.tr </a><br>
           
                    </p>
                    <div class="mt-5">
                       <a href="/virustable" class="btn btn-primary btn-block golden_border">Go Page &raquo;</a>
                      
                  
                  </div>
              </div>
             
          </div>
          </div>
          <div class="col-md-4">
           
           <div class="card shadow-lg m-3 golden_border">
               <div class="card-header">
                 <a href="#" style="color: #665d1e"><i class="fa fa-cogs fa-3x" aria-hidden="true"></i></a>  
                 <strong class=" m-4">  Virus Predicter 1</strong>
          
               </div>
             
                <div class="card-body">
                  
                     <p class="lead"> Virus Predicter Software</p>
                    <p class="">
                    <strong>E-posta :</strong><br> asiyekarpuzcu@gmail.com <br>
                        <strong>Telefon :</strong> <br> 0252 211 5056 <br>
                         <strong>Web     :</strong> <a href="http://akademik.mu.edu.tr/erdemturk" 
                          target="_blank">http://akademik.mu.edu.tr/erdemturk </a><br>
           
                    </p>
                     <div class="mt-5">
                        <a href="#" class="btn btn-primary btn-block">Go Page &raquo;</a>
                        
                  </div>
                </div>
              
          </div>
         
          </div>
           <div class="col-md-4">
                <div class="card shadow-lg m-3 golden_border" >

                  <div class="card-header">
                      <a href="#" style="color: #665d1e"><i class="fa fa-cogs fa-3x" aria-hidden="true"></i></a> 
                      <strong class=" m-4">  Virus Predicter 2</strong>
         
                  </div>
             
              
              <div class="card-body gol">
                  
                       <p class="lead"> Virus Predicter Software</p>
                    <p class="">
                    <strong>Property :</strong><br> 	High Accuracy <br>
                        <strong>Detail :</strong> <br> 0252 211 5056 <br>
                         <strong>Web     :</strong> <a href="http://akademik.mu.edu.tr/erdemturk" 
                          target="_blank">http://akademik.mu.edu.tr/erdemturk </a><br>
           
                    </p>

                    <div class="mt-5">
                       <a href="#" class="btn btn-primary btn-block">Go Page &raquo;</a>
                     
                  </div>
                </div>
             
          </div>
            
            </div>
        
          </div>
        </div>


        <!---->


         <i class="fa fa-linkedin-square" style="font-size:23px; color: #665d1e"></i>
                       <i class="fa fa-github-square" style="font-size:23px; color: #665d1e"></i>
                       <i class="fa fa-google-plus-square" style="font-size:23px; color: #665d1e"></i>
                        <i class="fa fa-facebook-square" style="font-size:23px; color: #665d1e"></i>



      

      <!--

      -->

       <div class="row featurette shadow-lg p-4">
         <div class="col-md-12">
         <h6 class="card-text  text-center golden_color">   <a href="/publications" target="_blank" class="golden_color">Announcement</a></h6>            
          </div>
          <div class="col-md-12">
            <p class="lead">
                Samy Asmaa, Süzek Barış Ethem, Özdemir Mehmet Kemal, Şensoy Özge, 2020.
                 In Silico Analysis of a Highly Mutated Gene in Breast Cancer ProvidesInsight Into Abnormal mRNA Splicing: 
                 Splicing Factor 3B Subunit 1-K700E Mutant. Biomolecules<br>

                 See our <a href="https://suzek-lab.org/">Publication</a> Paper.
            </p>
          </div>   
        <div class="col-md-12">
            <p class="lead float-right">
               12.12.12
            </p>
          </div> 
        </div>
      
        <hr class="featurette-divider">

            <div class="row featurette shadow-lg p-4">
          <div class="col-md-12">
        
            <p class="lead">
                Samy Asmaa, Süzek Barış Ethem, Özdemir Mehmet Kemal, Şensoy Özge, 2020.
                 In Silico Analysis of a Highly Mutated Gene in Breast Cancer ProvidesInsight Into Abnormal mRNA Splicing: 
                 Splicing Factor 3B Subunit 1-K700E Mutant. Biomolecules<br>

                 See our <a href="https://suzek-lab.org/">Publication</a> Paper.
            </p>
          </div>   
        </div>

        <hr class="featurette-divider">

          <div class="row featurette shadow-lg p-4">
          <div class="col-md-12">
        
            <p class="lead">
                Samy Asmaa, Süzek Barış Ethem, Özdemir Mehmet Kemal, Şensoy Özge, 2020.
                 In Silico Analysis of a Highly Mutated Gene in Breast Cancer ProvidesInsight Into Abnormal mRNA Splicing: 
                 Splicing Factor 3B Subunit 1-K700E Mutant. Biomolecules<br>

                 See our <a href="https://suzek-lab.org/">Publication</a> Paper.
            </p>
          </div>   
        </div>

      </div>



      <!--->

                
                   <div class="container marketing" >

                    <!-- Selection section-->

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card border-primary">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="#"><i class="fas fa-dna " aria-hidden="true"><img src="https://image.flaticon.com/icons/png/512/2/2079.png" width="30" height="30"></i><br></a>
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="card-text  text-center text-primary">Predict with Fatsa File &raquo; </h6>
                                    </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card border-primary">
                            <div class="card-body">
                                    <div class="row">
                                    <div class="col-sm-4">
                                                                <a href="#"><i class="fas fa-dna " aria-hidden="true"><img src="https://image.flaticon.com/icons/png/512/2/2079.png" width="30" height="30"></i><br></a>
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="card-text  text-center text-primary">Predict with Select  &raquo;</h6>
                                    </div>
                            </div>
                                
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card border-primary">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-sm-4">
                                <a href="#"><i class="fas fa-dna " aria-hidden="true"><img src="https://image.flaticon.com/icons/png/512/2/2079.png" width="30" height="30"></i><br></a>
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="card-text  text-center text-primary">Predict with Default &raquo;</h6>
                                    </div>
                            </div>
                            </div>
                        </div>

                        </div>
                    </div>